<div class="navs">
    <div class="left">
      <a href="/">Dream.Filters.Travel</a>
    </div>
    <div class="right">
      <!-- <a class="list-icon" href="#"><i class="bi bi-list menu-list"></i></a> -->
      <ul class="d-flex justify-content-between">
        <span class="d-flex gap-2">
          <li><a routerLink="/card"><i class="bi bi-house-door"></i> Home</a></li>
          <li><a routerLink="/transportation"><i class="bi bi-airplane"></i> Transportation</a></li>
          <li><a routerLink="/stays"><i class="fa-solid fa-bed"></i> Stays
          </a></li>
        </span>      
        <div class="search-box">
          <li><a routerLink="/add-data"><i class="bi bi-hourglass"></i> History</a></li>
        </div>
      </ul>
    </div>
   </div>

