<app-header></app-header>

<div class="flexss" style="margin-bottom: 50px; background: #5ce06c;">
  <h1 style="margin-bottom: 50px; margin-top: 20px;"> Outside of the Country</h1>
<div class="new_card">
  <div class="card" style="width: 18rem;">
    <img src="images/images.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">
        India
        <br>
        <p style="font-size: 14px;" class="text-success">Tk. 20,000</p>
      </h5>
      <p class="card-text">"To me, India’s always represented ‘everything’; it represents ‘all.’ Everything is here. You can stay here forever, and you’ll never feel like you’ve missed out on life.".</p>
      <a href="/create-form?place=India&rate=20000" class="btn btn-primary">Booked Now</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="images/Thai.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">
        Thailand
        <br>
        <p style="font-size: 14px;" class="text-success">Tk. 55,000</p>
      </h5>
      <p class="card-text">You’ll need the perfect Thailand captions for Instagram to capture every moment! Whether you’re exploring vibrant street markets, relaxing on pristine beaches, or visiting breathtaking temples, these Thailand captions for Instagram will make your posts stand out.</p>
      <a href="create-form?place=Thailand&rate=55000" class="btn btn-primary">Booked Now</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="images/fu.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">
        Singapur
        <br>
        <p style="font-size: 14px;" class="text-success">Tk. 85,000</p>
      </h5>
      <p class="card-text">Singapore is one of the most captivating cities in the world, combining stunning modern architecture with a rich cultural heritage.</p>
      <a href="create-form?place=Singapur&rate=85000" class="btn btn-primary">Booked Now</a>
    </div>
  </div>

  
</div>
</div>


<div class="flexss" style="margin-bottom: 50px;background: #d5b3b3;">
  <h1 style="margin-bottom: 50px; margin-top: 20px;"> Inside of the Country</h1>
<div class="new_card">
  <div class="card" style="width: 18rem;">
    <img src="images/sa.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">
        Sajek
        <br>
        <p style="font-size: 14px;" class="text-success">Tk. 8,000</p>
      </h5>
      <p class="card-text">Sajek Valley Travel Experience: 7 Amazing Facts.</p>
      <a href="create-form?place=Sajek&rate=8000" class="btn btn-primary">Booked Now</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="images/img.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">
        Sundarban
        <br>
        <p style="font-size: 14px;" class="text-success">Tk. 10,000</p>
      </h5>
      <p class="card-text">Weekend Trip to the Sundarbans – the Land of Tigers.</p>
      <a href="create-form?place=Sundarban&rate=10000" class="btn btn-primary">Booked Now</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="images/Cox.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">
        Cox's Bazar
        <br>
        <p style="font-size: 14px;" class="text-success">Tk. 12,000</p>
      </h5>
      <p class="card-text">Cox’s Bazar Tour: The Beach Holiday.</p>
      <a href="create-form?place=Coxs bazar&rate=12000" class="btn btn-primary">Booked Now</a>
    </div>
  </div>
</div>

</div>