<app-navber></app-navber>
<div class="flexss" style="margin-bottom: 50px; background: #d5b3b3;">
  <h1 style="margin-bottom: 50px; margin-top: 20px;"> In Dhaka City</h1>
  <div class="new_card">
    <div class="card" style="width: 18rem;">
      <img src="images/Dha1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">
          InterContinental Dhaka by IHG
          <br>
          <p style="font-size: 14px;" class="text-success"> Per Night Tk. 20,000</p>
        </h5>
        <p class="card-text">"Get the celebrity treatment with world-class service at InterContinental Dhaka by IHG
          InterContinental Dhaka by IHG has an outdoor swimming pool, fitness centre, a garden and restaurant in Dhaka.
          This 5-star hotel offers a bar. The accommodation offers a 24-hour front desk, airport transfers, room service
          and free WiFi throughout the property.

          Selected rooms also feature a kitchenette with an oven, a minibar and a stovetop.".</p>
        <a href="/stay-form?place=India&rate=20000" class="btn btn-primary">Booked Now</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="images/Dha2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">
          Luxury 3 bed apartment
          <br>
          <p style="font-size: 14px;" class="text-success">Per Night Tk. 5,000</p>
        </h5>
        <p class="card-text">Boasting air-conditioned accommodation with a balcony, Luxury 3 bed apartment is set in
          Dhaka. Complimentary WiFi is offered throughout the property and private parking is available on site. UITS is
          1.2 km from the apartment and Consulate of Singapore is 2.9 km away.

          The apartment is composed of 1 bedroom, a fully equipped kitchen, and 2 bathrooms. A flat-screen TV is
          featured.</p>
        <a href="stay-form?place=Thailand&rate=55000" class="btn btn-primary">Booked Now</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="images/Dha3.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">
          Hostel by zooFamily
          <br>
          <p style="font-size: 14px;" class="text-success">Per Night Tk. 8,000</p>
        </h5>
        <p class="card-text">Set in Dhaka, 3.2 km from Uttara University, Hostel by zooFamily features views of the
          city. Among the facilities at this property are a shared kitchen and a shared lounge, along with free WiFi
          throughout the property. Private parking is available on site.

          The units come with air conditioning, a fridge, an oven, a coffee machine, a shower, slippers and a desk. At
          the hostel every room has a TV and a safety deposit box.

          Hostel by zooFamily offers an American or Asian breakfast.</p>
        <a href="stay-form?place=Singapur&rate=85000" class="btn btn-primary">Booked Now</a>
      </div>
    </div>
  </div>
</div>


<div class="flexss" style="margin-bottom: 50px;">
  <h1 style="margin-bottom: 50px; margin-top: 20px;"> Sajek Resort</h1>
  <div class="new_card">
    <div class="card" style="width: 18rem;">
      <img src="images/Sajek1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">
          View prices for your travel dates
          <br>
          <p style="font-size: 14px;" class="text-success">Per Night Tk. 4,000</p>
        </h5>
        <p class="card-text">We're sorry, this hotel is not available on Tripadvisor from Sun, May 04 - Mon, May 05.
          Try changing the dates or the number of travelers to find availability.</p>
        <a href="stay-form?place=Sajek&rate=8000" class="btn btn-primary">Booked Now</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="images/Sajek2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">
          View prices for your travel dates
          <br>
          <p style="font-size: 14px;" class="text-success">Per Night Tk. 8,000</p>
        </h5>
        <p class="card-text">We're sorry, this hotel is not available on Tripadvisor from Sun, May 04 - Mon, May 05.
          Try changing the dates or the number of travelers to find availability.</p>
        <a href="stay-form?place=Singapur&rate=85000" class="btn btn-primary">Booked Now</a>
      </div>
    </div>
  </div>
</div>

<!--cox-->
<div class="flexss" style="margin-bottom: 50px;">
  <h1 style="margin-bottom: 50px; margin-top: 20px;">In Cox's Bazar</h1>
  <div class="new_card">
    <div class="card" style="width: 18rem;">
      <img src="images/Cox1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">
          Hotel The Cox Today
          <br>
          <p style="font-size: 14px;" class="text-success">Per Night Tk. 10,000</p>
        </h5>
        <p class="card-text">Make Your Stay Memorable at Hotel The Cox Today - The Preferred Choice for MyTravaly Guests Seeking a Personalized, Homely Experience Since 09 Nov, 2024</p>
        <a href="stay-form?place=Sajek&rate=8000" class="btn btn-primary">Booked Now</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="images/Cox2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">
          Seagull Hotels Ltd.
          <br>
          <p style="font-size: 14px;" class="text-success">Per Night Tk. 7,000</p>
        </h5>
        <p class="card-text">A great hotel to have a nice rest before long walks around the city. Hotel «Seagull Hotels Ltd.» is located in Cox's Bazar. This hotel is located in walking distance from the city center. You can take a walk and explore the neighbourhood area of the hotel. Places nearby: Laboni Beach.</p>
        <a href="stay-form?place=Singapur&rate=85000" class="btn btn-primary">Booked Now</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="images/Cox3.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">
          Western Heritage Hotet
          <br>
          <p style="font-size: 14px;" class="text-success">Per Night Tk. 7,000</p>
        </h5>
        <p class="card-text">Good choice if you’re looking forward to taking some rest at the hotel as much as to walking around the city. Hotel «Best Western Heritage» is located in Cox's Bazar. This hotel is located in 3 km from the city center. You can take a walk and explore the neighbourhood area of the hotel — Laboni Beach.</p>
        <a href="stay-form?place=Singapur&rate=85000" class="btn btn-primary">Booked Now</a>
      </div>
    </div>
  </div>
</div>
