.flexss h1{
    text-align: center;

}
.new_card{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px 5px;
}
.card{
    margin: 0 18px;
    transition: all 0.3s ease;
}
.card:hover{
    background-color: #f0f0f0; /* Light gray on hover */
    cursor: pointer;           /* Changes cursor to pointer */
    transform: scale(1.05);    /* Slight zoom effect */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2)
}