<aside class="sidebar">
    <div class="logo">
      <a href="#">
        <img src="logo/logo-sm.png" alt="">
        <span>Admin Panel</span> 
      </a>
    </div>
    <div class="manu_list">
      <ul>
        <li>
          <a routerLink="./deshboard"><i class="bi bi-speedometer2"></i> Dashboard</a>         
        </li>
        <li>
          <a routerLink="./add-data"><i class="bi bi-clock-history"></i> History</a>          
        </li>
        <li>
          <a routerLink="./add-package"> <i class="bi bi-box-seam"></i> Add Package</a>         
        </li>
        <li>
          <a routerLink="./delete-package"><i class="bi bi-trash3"></i> Delete Package </a>        
        </li>
      </ul>
    </div>
  </aside>
  
